@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("/static/images/h4.png");
    background-size: cover;
    background-position: center;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
.admin {
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    font-weight: 600;
    background-image: linear-gradient(to left, #63f601, #eae3f1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}
.header:hover::before {
    left: 100%;
}

.logo {
    font-weight: 600;
    background-image: linear-gradient(to left, #01f6a4, #eae3f1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}



.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #3498db, #e74c3c);
  }
  
  .sign {
    width: 100%;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: #ecf0f1;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.4s;
  }
  
  .Btn:hover {
    width: 150px;
    border-radius: 20px;
    transition-duration: 0.4s;
    background: linear-gradient(to right, #3498db, #e74c3c);
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: 0.4s;
    padding-left: 12px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.4s;
    padding-right: 10px;
  }
  
  .Btn:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  .profile{
    font-size: 1.5rem;
  }